#viewAll {
    color: white; 
}

#signOut {
    color: white; 
}
  
#signUp {
    color: white; 
}

.spacer {
    padding-top: 80px;
    padding-bottom: 40px
}

.my-button {
    text-decoration: white;
    
}